/*reset*/
html, body {
	height: 100% !important;
}

:focus{
	outline: 0px;
}

.main-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	/* transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%); */
	background-color: #fff;
	border-radius: 5px;
	/* -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px; */
	background-image: url('../img/spinner.svg');
	background-size: 100%;
	width: 80px;
	height: 80px;
	box-shadow: 0 0 40px rgba(0,0,0,0.05);
	/* -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0 40px rgba(0,0,0,0.05);
	-ms-box-shadow: 0 0 40px rgba(0,0,0,0.05);
	-o-box-shadow: 0 0 40px rgba(0,0,0,0.05); */
	z-index: 999999;
}

.navbar-toggler {
	border-color: #fff;
	color: #fff;
}

.navbar-toggler i {
	font-size: 30px;
}

.row.col-spacing {
	margin-left: -25px;
	margin-right: -25px;
}

.row.col-spacing [class^="col-"] {
	padding-left: 25px;
	padding-right: 25px;
}

.overlay {
	background-color: #000;
	opacity: .55;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

/*navbar*/
.navbar.main-navbar {
	position: fixed;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	z-index: 1;
}

.navbar.main-navbar.bg-dark {
	background-color: #000 !important;
}

.navbar.main-navbar .navbar-brand {
	width: 110px;
	padding: 0;
	line-height: 0;
}

.navbar.main-navbar .navbar-brand img {
	width: 100%;
}

.navbar.main-navbar .nav-link {
	color: #fff;
	padding: 0 20px;
	font-size: 14px;
	letter-spacing: 1px;
	color: rgba(255,255,255,.75);
	position: relative;
	transition: all .5s;
	/* -webkit-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s; */
}

.navbar.main-navbar .nav-link:after {
	content: ' ';
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	/* -moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%); */
	height: 2px;
	width: 0;
	background-color: #fff;
	transition: all .5s;
	/* -webkit-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s; */
}

.navbar.main-navbar .nav-link:hover {
	color: #fff;
}

.navbar.main-navbar .nav-link:hover:after {
	width: 20px;
}

.navbar.main-navbar .nav-item.active .nav-link {
	color: #fff;
}

.navbar.main-navbar .nav-item.active .nav-link:after {
	width: 20px;
}

.navbar.main-navbar .form-inline {
	margin-left: 15px;
}

.navbar.main-navbar .form-inline .btn {
	/* border-radius: 30px; */
	/* -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px; */
	/* border-width: 2px; */
	/* padding-left: 20px; */
	/* padding-right: 20px; */
	font-size: 14px;
	letter-spacing: 1px;
	background-color: transparent;
	border-color: #fff;
}

.navbar.main-navbar .form-inline .btn:hover {
	background-color: #fff;
	color: #000;
	opacity: 1;
}

/*hero*/
.hero {
	height: 100%;
	color: #fff;
	position: relative;
}

.hero .text {
	position: absolute;
	top: 50%;
	left: 200px;
	right: 200px;
	transform: translateY(-60%);
	/* -webkit-transform: translateY(-60%);
	-moz-transform: translateY(-60%);
	-o-transform: translateY(-60%);
	-ms-transform: translateY(-60%); */
	z-index: 1;
	text-align: center;
}

.hero .text h1 {
	margin: 0;
	font-size: 64px;
	font-weight: 300;
	letter-spacing: .5px;
	line-height: 1.3em;
}

.hero .text h1 .bold {
	font-weight: 600;
}

.hero .text p.lead {
	margin-bottom: 60px;
	/* text-transform: uppercase; */
	letter-spacing: 1.5px;
	line-height: 0;
	font-size: 48px;
}

/* //////////// */
.hero  .text .btn {
	padding-left: 10px;
	padding-right: 10px;
	/* text-transform: uppercase; */
	outline-color:rgba(255, 255, 255, 0);
	/* border-radius: 0px; */
	box-shadow: none;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: .5px;
	color: rgba(255, 255, 255, 0.5);
}

.hero  .text .btn:hover {
	color: rgba(255, 255, 255, 0.9);
}

/* ////////////////////// */

.hero .cta {
	margin-top: 40px;
}

.hero .cta .btn {
	padding: 15px 20px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1.3px;
	font-weight: 600;
}

.hero .cta .btn.btn-primary {
	border-radius: 30px;
	/* -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px; */
	padding-left: 30px;
	padding-right: 30px;
}

.hero .cta .btn.btn-link {
	color: #fff;
}

.hero .cta .btn.btn-link i {
	margin-right: 5px;
}

.hero .cta .link {
	margin-top: 15px;
}

.hero .cta .link a {
	color: #fff;
	font-size: 12px;
	text-decoration: underline;
	text-transform: none;
	color: #999;
	font-weight: 600;
	letter-spacing: .3px;
}
